body {
  background: #d4d8d5;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* NAVBAR CSS STARTS HERE */
.navbar {
  background-color: black;
  overflow: hidden;
  border-bottom: 0.2rem solid white;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2vw 1.2vw;
  text-decoration: none;
  vertical-align: top;
}

.navbar > a:not(:first-child) {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
  font-size: 100%;
}

#logo {
  font-size: 150%;
}

#logout {
  color: red;
}
/* NAVBAR CSS ENDS Here */

#addGameBtn {
  width: 80%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  color: white;
  background-color: #17A2B8;
  border: 0.1rem solid #17A2B8;
  border-radius: 0.5rem;
}

.editGameBtn {
  width: 90%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  color: white;
  background-color: #007BFF;
  border: 0.1rem solid #007BFF;
  border-radius: 0.3rem;
}

.viewStatsBtn {
  width: 90%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  color: white;
  background-color: red;
  border: 0.1rem solid red;
  border-radius: 0.3rem;
}

.box0 {
  margin: 1.5rem 1rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: white;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  text-align: center;
}

.box0 h2 {
  color: #17A2B8;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
}

.box0 h3 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

 .box0 h4 mark{
   font-size: 2rem;
   padding-left: 5%;
   padding-right: 5%;
   margin-top: 0.1rem;
   color: green;
 }

 .box0 p {
   margin: 0.5rem;
 }
