.teamcontainer, .gamecontainer {
  width: 80%;
  margin: 1.5rem auto;
  padding: 1rem 1rem 5rem 1rem;
  background-color: white;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  text-align: center;
}

.myteamnamehome {
  width: 80%;
  margin: 2rem auto;
  background-color: #282828;
  color: white;
  font-size: 2.2rem;
  font-weight: normal;
}

#teamtotalheader {
  font-size: 1.75rem;
}

#teamtotaltable, #teamgoaltable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

#teamtotaltable th {
  border: 0.1rem solid #d4d8d5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #287aff;
  color: white;
}

#teamtotaltable td {
  border: 0.1rem solid #d4d8d5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#teamgoaltable th {
  border: 0.1rem solid #d4d8d5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #287aff;
  color: white;
}
#teamgoaltable td {
  border: 0.1rem solid #d4d8d5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#teamgoaltable {
  margin-top: 3rem;
}

.gamecontainer > h1 {
  color: #219eff;
  font-size: 2.7rem;
  font-weight: normal;
}

#matchname, #matchscore {
  font-size: 1.5rem;
}

#matchscore {
  background-color: #fbffc1;
}

#editGameBtn {
  width: 90%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  color: white;
  background-color: #007BFF;
  border: 0.1rem solid #007BFF;
  border-radius: 0.3rem;
}

#editGameBtn:hover {
  background-color: #0f4aaa;
}

#viewStatsBtn {
  width: 90%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  color: white;
  background-color: red;
  border: 0.1rem solid red;
  border-radius: 0.3rem;
}

#viewStatsBtn:hover {
  background-color: #bf0000;
}