body {
  background: #d4d8d5;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* NAVBAR CSS STARTS HERE */
.navbar {
  background-color: black;
  overflow: hidden;
  border-bottom: 0.2rem solid white;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2vw 1.2vw;
  text-decoration: none;
  vertical-align: top;
}

.navbar > a:not(:first-child) {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
  font-size: 100%;
}

#logo {
  font-size: 150%;
}

#logout {
  color: red;
}
/* NAVBAR CSS ENDS Here */

.box2 {
  margin: 1.5rem 1rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: white;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  text-align: center;
}

.borderBox2 {
  background-color: white;
  border: 0.5vw solid gray;
  border-radius: 0.5vw;
  padding: 1rem;
  margin: 1rem;
}

.box2 h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #007BFF;
}

.box2 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box2 .borderBox2 img {
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: white;
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.box2 .borderBox2 table {
  width: 80%;
  margin: auto;
}

.viewplayertbl tr, td {
  border-top: 1px solid gray;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#editBtn {
  width: 90%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: white;
  background-color: #007BFF;
  border: 0.1rem solid #007BFF;
  border-radius: 0.3rem;
}
